<h1>users are loading soon!</h1>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.bio %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

